.login-page{
    .card-login{
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
        border-radius: 6px;
        padding-bottom: 20px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        .card-header{
            margin-top: -40px;
            margin-bottom: 20px;
        }
    }
}
.login-page .card-login.card-hidden {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
}
.lock-page > .content,
.login-page > .content {
    padding-top: 30vh;
}
.lock-page{
    .card-profile {
        width: 240px;
        margin: 60px auto 0;
        color: $white;
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        @include transition(300ms,linear);
    }
    .card-title{
        color: #3C4858;
        text-decoration: none;
        font-weight: normal;
    }
    .card-profile.card-hidden {
        opacity: 0;
        @include transform-translate-y(-60px);
    }
    .card-avatar {
        max-width: 90px;
        max-height: 90px;
        margin-top: -45px
    }
    .card-footer {
        border: none;
        padding-top: 0
    }
    .form-group {
        text-align: left
    }

} 
