.loader {
    margin: 0 auto;
    width: 60px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    z-index: 1;
    @include transform-translate-y(-50%);
    text-align: center;
    top: 50%;
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 2s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: $brand-primary;
    }
    50% {
        stroke: $brand-warning;
    }
    100% {
        stroke: $brand-primary;
    }
}

body {
    background-color: #eeeeee; // background: #fdfdfe;
    color: $black-color;
    min-height: 100vh;
    &.inverse {
        background: #333333;
        &,
        .form-control {
            color: $mdb-text-color-light;
        }
        .modal,
        .panel-default,
        .card {
            &,
            .form-control {
                background-color: initial;
                color: initial;
            }
        }
    }
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
    &:after {
        display: table;
        clear: both;
        content: " ";
    }
    &.wrapper-full-page {
        height: auto;
        min-height: 100vh;
    }
}

.full-page {
    &:after,
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &:before {
        background-color: rgba(0, 0, 0, 0.5);
    }
    &[data-filter-color="blue"]:after,
    &[data-filter-color="info"]:after {
        background: rgba(178, 235, 242, 0.56);
        background: linear-gradient( 60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
    }
    &[data-image]:after {
        opacity: 0.8;
    }
    .full-page-background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 50%;
    }
    &>.content {
        min-height: calc(100vh - 80px);
    }
    &>.content,
    &>.footer {
        position: relative;
        z-index: 4;
    }
    .footer,
    .footer .copyright a,
    .footer nav>ul a:not(.btn) {
        color: #fff;
    }
}

blockquote {
    p {
        font-style: italic;
    }
}

.life-of-material-dashboard {
    background: #ffffff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: $font-family-sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.serif-font {
    font-family: $font-family-serif;
}

.page-header {
    height: 60vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

a {
    color: $link-color;
    &:hover,
    &:focus {
        color: darken($link-color, 5%);
        text-decoration: none;
    }
    &.text-info {
        &:hover,
        &:focus {
            color: darken($brand-info, 5%);
        }
    }
    & .material-icons {
        vertical-align: middle;
    }
}

/*           Animations              */

.animation-transition-general,
.login-page .card-login {
    @include transition($general-transition-time, $transition-linear);
}

.animation-transition-slow {
    @include transition($slow-transition-time, $transition-linear);
}

.animation-transition-fast {
    @include transition($fast-transition-time, $transition-ease);
}

legend {
    border-bottom: 0;
}

// Prevent highlight on mobile
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: 0;
    }
}

a:focus,
a:active,
button:active,
button:focus,
button:hover,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    outline: 0 !important;
}

.notification-title {
    span {
        font-size: 33px;
    }
}