.rtl-active {
    .sidebar,
    .bootstrap-navbar {
        right: 0;
        left: auto;
    }
    .sidebar .nav-mobile-menu .notification,
    .bootstrap-navbar .nav-mobile-menu .notification {
        float: right;
        margin-right: 0;
        margin-left: 8px;
    }
    .sidebar .nav i,
    .bootstrap-navbar .nav i {
        float: right;
        margin-left: 15px;
        margin-right: 0;
    }
    .sidebar .nav p,
    .bootstrap-navbar .nav p {
        margin-right: 45px;
        text-align: right;
    }
    .sidebar .nav .caret,
    .bootstrap-navbar .nav .caret {
        left: 11px;
        right: auto;
    }
    .sidebar .logo a.logo-mini,
    .bootstrap-navbar .logo a.logo-mini {
        float: right;
        margin-right: 30px;
        margin-left: 10px;
    }
    .sidebar .logo .simple-text,
    .bootstrap-navbar .logo .simple-text {
        text-align: right;
    }
    .sidebar .user .info>a>span,
    .bootstrap-navbar .user .info>a>span {
        text-align: right;
    }
    .sidebar .user .photo,
    .bootstrap-navbar .user .photo {
        float: right;
        margin-left: 12px;
        margin-right: 23px;
    }
    .sidebar .user .info .caret,
    .bootstrap-navbar .user .info .caret {
        left: 22px;
        right: auto;
    }
    .sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a .sidebar-mini,
    .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-mini,
    .bootstrap-navbar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a .sidebar-mini,
    .bootstrap-navbar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-mini {
        float: right;
        margin-left: 15px;
        margin-right: 0;
    }
    .navbar-header {
        .navbar-toggle {
            margin: 10px 0 10px 15px;
        }
    }
    .btn:not(.btn-just-icon):not(.btn-fab) .fa,
    .navbar .navbar-nav>li>a.btn:not(.btn-just-icon):not(.btn-fab) .fa {
        left: 5px;
    }
    .card .card-header.card-header-icon {
        float: right;
    }
    .main-panel {
        float: left;
    }
    .navbar>.container-fluid .navbar-brand {
        margin-right: 0;
    }
    .dropdown-menu {
        right: 0;
        left: auto;
    }
    .card .card-header.card-header-tabs .nav-tabs-title {
        float: right;
        padding: 10px 0 10px 10px;
    }
    .card.card-product .card-footer {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}