.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.bootstrap-navbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  width: 260px;
  background: #fff;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  & .logo-img {
    width: 42px;
    max-height: 42px;
    img {
      width: 42px;
      top: 16px;
      left: 18px;
      position: absolute;
    }
  }
  & .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 70px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
    .dropdown .dropdown-backdrop {
      display: none !important;
    }
    .navbar-form {
      border: none;
      box-shadow: none;
    }
    .nav [data-toggle="collapse"]~div>ul>li>a span,
    .user .info [data-toggle="collapse"]~div>ul>li>a span {
      display: inline-block;
    }
  }
}

.sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal {
  margin: 0;
  position: relative;
  -webkit-transform: translate3d(45px, 0, 0);
  transform: translate3d(45px, 0, 0);
  opacity: 1;
  white-space: nowrap;
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
}

.sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a .sidebar-mini,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-mini {
  text-transform: uppercase;
  width: 30px;
  text-align: center;
  letter-spacing: 1px;
  position: absolute;
  display: inherit;
}

.sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a i,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a i {
  font-size: 17px;
  line-height: 20px;
  width: 26px;
}

.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal {
  -webkit-transform: translate3d(45px, 0, 0);
  transform: translate3d(45px, 0, 0);
}

.sidebar .nav {
  padding-top: 15px;
}

.sidebar .nav .caret {
  margin-top: 13px;
  position: absolute;
  right: 18px;
}

.sidebar .nav li>a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3c4858;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar .nav li>a:focus,
.sidebar .nav li>a:hover {
  background-color: transparent;
  outline: none;
}

.sidebar .nav li:first-child>a {
  margin: 0 15px;
}

.sidebar .nav li.active>[data-toggle="collapse"],
.sidebar .nav li:hover>a {
  background-color: hsla(0, 0%, 78%, 0.2);
  color: #3c4858;
  box-shadow: none;
}

.sidebar .nav li.active>[data-toggle="collapse"] i {
  color: #a9afbb;
}

.sidebar .nav li.active>a,
.sidebar .nav li.active>a i {
  color: #fff;
}

.sidebar .nav li.separator {
  margin: 15px 0;
}

.sidebar .nav li.separator:after {
  width: calc(100% - 30px);
  content: "";
  position: absolute;
  height: 1px;
  left: 15px;
  background-color: hsla(0, 0%, 71%, 0.3);
}

.sidebar .nav li.separator+li {
  margin-top: 31px;
}

.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 1;
  display: block;
  height: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
}

.sidebar .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}

.sidebar .sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50%;
}

.sidebar .sidebar-background:after {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #fff;
  opacity: 0.93;
}

.sidebar .logo {
  padding: 15px 0;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
}

.sidebar .logo:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: hsla(0, 0%, 71%, 0.3);
}

.sidebar .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #fff;
  line-height: 20px;
}

.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0;
  display: block;
  font-size: 18px;
  color: #3c4858;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}

.sidebar .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}

.sidebar .logo-tim img {
  width: 60px;
  height: 60px;
}

.sidebar .user {
  padding-bottom: 20px;
  margin: 20px auto 0;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0, 0%, 71%, 0.3);
  }
  .photo {
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    z-index: 5;
    margin-right: 11px;
    border-radius: 50%;
    margin-left: 23px;
    @include box-shadow( 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2));
    img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  }
  a {
    color: #3c4858;
    padding: 0.5rem 15px;
    white-space: nowrap;
  }
  .user-info {
    >a {
      display: block;
      line-height: 28px;
      font-size: 14px;
      >span {
        display: block;
        position: relative;
        opacity: 1;
      }
      >span+span {
        display: inline-block;
      }
    }
    .caret {
      position: absolute;
      top: 12px;
      right: 26px;
    }
  }
}

.sidebar .user .sidebar .user .info>a {
  padding-left: 70px;
}

.sidebar[data-background-color="black"] {
  background-color: #191919;
}

.sidebar[data-background-color="black"] .nav li>a {
  color: #fff;
}

.sidebar[data-background-color="black"] .nav li i {
  color: hsla(0, 0%, 100%, 0.8);
}

.sidebar[data-background-color="black"] .nav li.active>[data-toggle="collapse"],
.sidebar[data-background-color="black"] .nav li:hover>[data-toggle="collapse"] {
  color: #fff;
}

.sidebar[data-background-color="black"] .nav li.active>[data-toggle="collapse"] i,
.sidebar[data-background-color="black"] .nav li:hover>[data-toggle="collapse"] i {
  color: hsla(0, 0%, 100%, 0.8);
}

.sidebar[data-background-color="black"] .simple-text,
.sidebar[data-background-color="black"] .user a {
  color: #fff;
}

.sidebar[data-background-color="black"] .sidebar-background:after {
  background: #000;
  opacity: 0.8;
}

.sidebar[data-background-color="red"] {
  background-color: #e53935;
}

.sidebar[data-background-color="red"] .nav li>a {
  color: #fff;
}

.sidebar[data-background-color="red"] .nav li i {
  color: hsla(0, 0%, 100%, 0.8);
}

.sidebar[data-background-color="red"] .nav li.active>[data-toggle="collapse"],
.sidebar[data-background-color="red"] .nav li:hover>[data-toggle="collapse"] {
  color: #fff;
}

.sidebar[data-background-color="red"] .nav li.active>[data-toggle="collapse"] i,
.sidebar[data-background-color="red"] .nav li:hover>[data-toggle="collapse"] i {
  color: hsla(0, 0%, 100%, 0.8);
}

.sidebar[data-background-color="red"] .simple-text,
.sidebar[data-background-color="red"] .user a {
  color: #fff;
}

.sidebar[data-background-color="red"] .sidebar-background:after {
  background: #d50000;
  opacity: 0.8;
}

.sidebar[data-background-color="red"] .logo:after,
.sidebar[data-background-color="red"] .nav li.separator:after,
.sidebar[data-background-color="red"] .user:after {
  background-color: hsla(0, 0%, 100%, 0.3);
}

.sidebar[data-background-color="red"] .nav li.active>[data-toggle="collapse"],
.sidebar[data-background-color="red"] .nav li:hover:not(.active)>a {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.sidebar[data-active-color="purple"] li.active>a {
  background-color: #9c27b0;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.sidebar[data-active-color="blue"] li.active>a {
  background-color: #00bcd4;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.sidebar[data-active-color="green"] li.active>a {
  background-color: #4caf50;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.sidebar[data-active-color="orange"] li.active>a {
  background-color: #ff9800;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.sidebar[data-active-color="red"] li.active>a {
  background-color: #f44336;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.sidebar[data-active-color="rose"] li.active>a {
  background-color: #e91e63;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.sidebar[data-active-color="white"] li.active>a {
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px hsla(0, 0%, 100%, 0.4);
}

.sidebar[data-active-color="white"] .nav li.active>a:not([data-toggle="collapse"]) {
  color: #3c4858;
  opacity: 1;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
}

.sidebar[data-active-color="white"] .nav li.active>a:not([data-toggle="collapse"]) i {
  color: rgba(60, 72, 88, 0.8);
}

.sidebar[data-active-color="white"] .sidebar-moving-tab {
  color: #3c4858;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
}

.sidebar[data-active-color="white"] .sidebar-moving-tab i {
  color: rgba(60, 72, 88, 0.8);
}

.sidebar.has-image:after,
.sidebar[data-image]:after {
  opacity: 0.77;
}

.main-panel {
  //background: rgba(203,203,210,.15);
  position: relative; // z-index: 2;
  float: right;
  min-height: 100%;
  width: $sidebar-width;
  .main-content {
    margin-top: 70px;
    padding: 30px 15px;
    min-height: calc(100% - 123px);
  }
  div {
    .footer {
      border-top: 1px solid #e7e7e7;
    }
  }
  >.navbar {
    margin-bottom: 0;
  }
}

.bootstrap-navbar .nav {
  margin-top: 20px;
  float: none;
}

.main-panel {
  position: relative;
  height: 100%;
}

a[data-toggle="collapse"][aria-expanded="true"] .caret {
  @include rotate-180();
}

.bootstrap-tagsinput .tag,
.bootstrap-tagsinput [data-role="remove"],
.caret {
  @include transition(0.15s, ease-in);
}

.sidebar,
.main-panel {
  -webkit-transition-property: top, bottom, width;
  transition-property: top, bottom, width;
  -webkit-transition-duration: 0.2s, 0.2s, 0.35s;
  transition-duration: 0.2s, 0.2s, 0.35s;
  -webkit-transition-timing-function: linear, linear, ease;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 992px) {
  .sidebar-mini .visible-on-sidebar-regular {
    display: none !important;
  }
  .sidebar-mini .visible-on-sidebar-mini {
    display: inline-block !important;
  }
  .sidebar-mini .sidebar-moving-tab {
    width: 50px;
  }
  .sidebar-mini .sidebar-moving-tab.moving .sidebar-normal,
  .sidebar-mini .sidebar-moving-tab.moving p {
    display: none;
  }
  .sidebar-mini .sidebar-moving-tab.moving .sidebar-mini {
    position: relative;
  }
  .sidebar-mini .sidebar,
  .sidebar-mini .sidebar .sidebar-wrapper {
    width: 80px;
  }
  .sidebar-mini .sidebar .sidebar-wrapper .nav li>a p,
  .sidebar-mini .sidebar .sidebar-wrapper .user .user-info a>span {
    opacity: 0;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  .sidebar-mini .sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
  .sidebar-mini .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
    opacity: 0;
  }
  .sidebar-mini .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal {
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  .sidebar-mini .sidebar .user .info>a {
    line-height: 21px;
    padding-left: 45px;
    opacity: 0;
  }
  .sidebar-mini .sidebar .logo .logo-normal a {
    opacity: 0;
    text-align: center;
    position: relative;
    padding-left: 40px;
  }
  .sidebar-mini .main-panel {
    width: calc(100% - 80px);
    margin-left: 80px;
  }
  .sidebar-mini .sidebar:hover {
    width: 260px !important;
  }
  .sidebar-mini .sidebar:hover .sidebar-moving-tab {
    width: 230px;
  }
  .sidebar-mini .sidebar:hover .sidebar-moving-tab.moving .sidebar-normal,
  .sidebar-mini .sidebar:hover .sidebar-moving-tab.moving p {
    display: block;
  }
  .sidebar-mini .sidebar:hover .sidebar-moving-tab.moving .sidebar-mini {
    position: absolute;
  }
  .sidebar-mini .sidebar:hover .sidebar-wrapper {
    width: 260px !important;
  }
  .sidebar-mini .sidebar:hover .sidebar-wrapper .nav li>a p {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .sidebar-mini .sidebar:hover {
    .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal {
      -webkit-transform: translate3d(45px, 0, 0);
      transform: translate3d(45px, 0, 0);
      opacity: 1;
    }
    .sidebar-wrapper .user-info a {
      span {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
        opacity: 1;
      }
    }
  }
  .sidebar-mini .sidebar:hover .sidebar-wrapper .user {
    padding-bottom: 20px;
    height: auto;
  }
  .sidebar-mini .sidebar:hover .sidebar-wrapper .user .info>a {
    padding-left: 70px;
    opacity: 1;
  }
  .sidebar-mini .sidebar:hover .sidebar-wrapper .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal {
    opacity: 1;
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
  }
  .sidebar-mini .sidebar:hover .logo .logo-normal a {
    opacity: 1;
    padding-left: 0;
  }
  .sidebar-mini .sidebar:hover .logo .logo-mini {
    position: absolute;
    top: 18px;
    opacity: 0;
  }
}