.table {
  > thead > tr > th {
    border-bottom-width: 1px;
    font-size: $font-size-h6;
  }
  .radio,
  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 0;
    width: 15px;
    .icons {
      position: relative;
    }
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    padding: 12px 8px;
    vertical-align: middle;
    font-weight: $font-weight-light;
  }
  > thead > tr > th {
    padding-bottom: 4px;
    font-weight: $font-weight-default;
  }
  .td-actions {
    .btn {
      margin: 0 3px;
      padding: 5px;
    }
    .btn:last-child {
      margin-right: 0;
    }
  }
  > tbody > tr {
    position: relative;
  }
}
